*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore SQL files (Maybe)
# *.sql

# Ignore pics format
*.jpg
*.png

# Ignore idea format
*.idea

# Ignore same project files
# *.fxbuild
# *.css
# *.fxml

.settings
.classpath
.project

#ignore all temp files
*.*~
